De: {{ sender_name }} <{{ sender_email }}>
À: {{ recipient_name }} <{{ recipient_email }}>
Objet: {{ subject }}
Date: {{ date }}

Bonjour {{ recipient_name }},

{{ body }}

Bien cordialement,

{{ sender_name }}


